<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
<!--        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
<!--    <session-factory>-->
<!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
<!--        &lt;!&ndash; Conection string for a MySQL DB &ndash;&gt;-->
<!--        <property name="connection.url">jdbc:mysql://localhost:3306/mysqldb?currentSchema=hiber</property>-->
<!--        &lt;!&ndash; Your DB username &ndash;&gt;-->
<!--        <property name="connection.username">mysql</property>-->
<!--        &lt;!&ndash; Your password DB username &ndash;&gt;-->
<!--        <property name="connection.password">admin</property>-->

<!--        <property name="connection.pool_size">8</property>-->
<!--        &lt;!&ndash; Hibernate dialect for MySQL DB &ndash;&gt;-->
<!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
<!--        &lt;!&ndash; Shows SQL instructions in shell when you run your program and do any CRUD operation into the DB &ndash;&gt;-->
<!--        <property name="show_sql">false</property>-->
<!--        &lt;!&ndash; Updates DB schema on startup &ndash;&gt;-->
<!--        &lt;!&ndash;property name="hbm2ddl.auto">update</property&ndash;&gt;-->
<!--        <property name="current_session_context_class">thread</property>-->

<!--        <mapping class="by.serhel.springwebapp.entities.UnconfirmedUser"/>-->
<!--        <mapping class="by.serhel.springwebapp.entities.User"/>-->
<!--        <mapping class="by.serhel.springwebapp.entities.Advert"/>-->
<!--    </session-factory>-->
<!--</hibernate-configuration>-->